body {
    background-color: #2B2B2B;
    color: #E8E8E8;
    font-family: 'Open Sans', sans-serif;
}

select {
    background-color: #2B2B2B;
    color: #E8E8E8;
    font-family: 'Open Sans', sans-serif;
}